html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  line-height: 24px;
}
img {
  max-width: 100%;
}
a{
  text-decoration: none;
  display: inline-block;
}

.wrapper {

}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}