@mixin lato400 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@mixin lato300 {
  // font-family: 'Lato', sans-serif;
  font-weight: 300;
}
@mixin lato700 {
  // font-family: 'Lato', sans-serif;
  font-weight: 700;
}
@mixin lato900 {
  // font-family: 'Lato', sans-serif;
  font-weight: 900;
}