<!-- Шапка сайта -->
<header class="header" id="header">
  <div class="header__overlay"></div>
  <div class="header__background" style="background-image: url(img/header-bg.jpg);"></div>
  <div class="container">
    <div class="header__inner">
      <a href="" class="header__logo logo">
        <img src="img/logo.png" alt="Логотип">
      </a>
      <div class="header__info">
        <h1 class="header__title">Clear, smart, attractive design </h1>
        <span class="header__subtitle">for your app, logo, website</span>
      </div>
      <div class="header__button btn">
        <a href="#about" class="anchor">Read more</a>
      </div>
      <a  href="#about" class="header__scroll-bottom anchor">
        <img src="img/arrow-down.png" alt="">
      </a>
    </div>
    <!-- /.header__inner -->
  </div>
</header>
<!-- Шапка сайта конец -->