<!-- Шапка сайта -->
<header class="header" style="background-image: url(img/header-bg.jpg);">
  <div class="container">
    <div class="header__inner">
      <a href="" class="header__logo logo">
        <img src="img/logo.png" alt="Логотип">
      </a>
      <div class="header__info">
        <h1 class="header__title">Clear, smart, attractive design </h1>
        <span class="header__subtitle">for your app, logo, website</span>
      </div>
      <button class="header__button btn">
        Read more
      </button>
      <a href="" class="header__scroll-bottom">
        <img src="img/arrow-down.png" alt="">
      </a>
    </div>
    <!-- /.header__inner -->
  </div>
</header>
<!-- Шапка сайта конец -->