.header {
  // .header__inner
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    height: 100vh;
    text-align: center;
    padding: 8vh 0;
    color: #fff;
    position: relative;
  }
  // .header__logo
  &__logo {
    margin-bottom: 7vh;
  }
  // .header__info
  &__info {
    padding-bottom: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 106px;
      height: 2px;
      background-color: #fff;
    }
  }
  // .header__title
  &__title {
    font-size: 34px;
    line-height: 40px; 
    text-transform: uppercase;
    @include lato900;
    letter-spacing: 7px;
  }
  // .header__subtitle
  &__subtitle {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 4px;
  }
  // .header__button
  &__button {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 16px;
    min-width: 185px;
    border: 1px solid #fff;
    padding: 15px 0;
    text-transform: uppercase;
    transition: .3s;
    &:hover {
      background-color: rgba(#000, 0.5);
      border-color: #000;
    }
  }
  .header__scroll-bottom {
    display: block;
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 17px;
    height: 10px;
  }
  }
  .logo {
  }
  .btn {
  }
  
@media (max-width: 767px) {
  .header__title {
    font-size: 28px;
    line-height: 34px;
  }
  .header__info {
    padding-bottom: 25px;
  }
  .header__logo {
    margin-bottom: 6vh;
  }
  .header__subtitle {
    font-size: 20px;
    line-height: 34px;
  }
  .header__inner {
    padding: 3vh 0;
  }
  .header__logo {
    max-width: 50%;
  }
  .header__button {
    padding-top: 8px;
    padding-bottom: 8px;
    bottom: 12vh;
  }
  .header .header__scroll-bottom {
    bottom: 7vh;
  }
}
@media (max-width: 420px) {
  .header__title {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 5px;
    padding-bottom: 5px;
  }
  .header__info {
    padding-bottom: 15px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}