.menu {
  border-bottom: 1px solid #f2f2f2;
  background-color: #fff;
  z-index: 30;
  transition: .4s;
  // .menu__inner
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  &_active {
    position: fixed;
  }
  &__inner {
    padding: 20px 0 25px;
    display: flex;
    justify-content: center;
  }
  // .menu__list
  &__list {
    font-size: 15px;
  }
}
.menu-list {
  display: block;
  @include lato400;
  // .menu-list__item
  &__item {
    &:hover {
      a {
        color: #ada074;
      }
    }
    a {
      padding: 0 25px;
      color: #3c3c3c;
      transition: .3s;
    }
    // .menu-list__item_active
    &_active {
      a {
        color: #ada074;
      }
    }
  }
}

.menu-burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: none;
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 2px;
    background-color: #000;
    transition: .3s;
    &:nth-child(2) {
      top: 8px;
    }
    &:last-child{
      top: 16px;
    }
  }
  &_active {
    span {
      &:first-child {
        top: 9px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top: 9px;
        transform: rotate(-45deg);
      }
      &:last-child{
        top: 18px;
      }
    }
  }
}

@media (max-width: 767px) {
  .menu__inner {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-list {
    max-height: 0%;
    min-height: 0;
    overflow-y: hidden;
    position: absolute;
    left: -15px;
    right: -15px;
    text-align: center;
    top: 100%;
    background: rgb(0, 0, 0);
    z-index: 5;
    transition: .3s;
    padding-top: 0px;
    &__item {
      display: block;
      a {
        padding: 10px 15px;
        color: #fff;
      }
    }
    &_active {
      padding-top: 20px;
      overflow-y: hidden;
      max-height: 100%;
      min-height: 200px;
    }
  }
  .menu-burger {
    display: block;
  }
}