.partners {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // .partners__title
  &__inner {
    padding: 100px 0;
  }
  &__title {
    font-size: 30px;
    line-height: 32px;
    @include lato300;
    margin-bottom: 80px;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
  }
  // .partners__list
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  }
  .container {
  }
  
@media (max-width: 600px) {
  .partners__inner {
    padding: 50px 0;
  }
  .partners__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .partners__list {
    flex-wrap: wrap;
    text-align: center;
    li {
      width: 45%;
      margin-top: 25px;
    }
  }
}